button.moveable-button {
  position: absolute;
  top: 80%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 2;

}
.picture1 {
position: absolute;
  top: 130px;
  left: 110px;
  width: 370px;
  height: 500px;
}
.h1 {
  position: absolute;
  top: 50px;
  left: 640px;
  color: #FF1493;
  z-index: 1;
}
.picture{
  position: absolute;
  top: 150px;
  left: 600px;
  z-index: 1;
}
.button-pink {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}


.button-pink {
  background-color: #ff69b4; 
  color: #fff; 
}

/
.button-pink:hover {
  background-color: #ff4d94; 
}
.button-da{
  position: absolute;
  top: 80%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
